@{
    ViewData["Title"] = "RisingmoonsunSign";
}
<header>
<h1 style=" color:darkcyan; font-size: 3.4rem;  font-family: 'Sacramento', cursive;">Learn about <a href="https://www.youtube.com/watch?v=EPUd7pQHKuo" style="color:lightcoral"><u>BirthChart in Astrology</u></a>.</h1></header>
<body style="        color: rebeccapurple;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.75rem;
        font-weight: normal;
        padding-bottom: 100px;
        background-color: #bfdedc
">
    <br />
    <br />

    <div style="        color: #ef66a0;
        font-size: 3.0rem;
        font-family: Magneto, cursive;">
        Sun Sign
    </div>
    <p>
        <h3 style="
  margin: 100px auto 100px;
  text-align: left;">
            Your sun sign.
            This is the one you probably know already.

            Your sun sign is calculated by your day of birth and represents the “ego you need to develop”.

            However, contrary to common belief, it’s the not the character or personality your born with but something you (ideally) become with age and life experience.

            “It’s the person you want to become in this life and you have to work towards that,” she continues.

            “You’re born with your moon sign. Your sun sign is something you strive towards. It’s not automatic.”
        </h3>
    </p>  <div style="        color: #ef66a0;
        font-size: 3.0rem;
        font-family: Magneto, cursive;">
    Moon Sign
</div>
   
    <p>
        <h3 style="text-align: left;
        margin: 100px auto 100px;
">
            Your moon sign.
            According to Astrology, your moon sign represents how you emotionally respond to and process things and it’s generally the sign you identify with more in your younger years, before you develop into your sun sign.

            It recommends reading both your sun sign horoscope AND your moon sign too.

            “It’s about your needs – what you really really need” .

            “In your younger years, you tend to feel more at home with your moon sign than your sun sign, but this changes as your age.”
        </h3>
    </p>  <div style="        color: #ef66a0;
        font-size: 3.0rem;
        font-family: Magneto, cursive;">
    Rising Sign
</div>
   
    <p>
        <h3 style="style=" text-align: left;
            margin: 100px auto 100px;">
            Your ascendant (or rising) sign.
            Simply “your rising sign is how people perceive you” . It’s named after the sign which was rising on the Eastern horizon during your time of birth.

            “It’s your mask and it’s important to stress that it’s not who you truly are.”

            Instead, your rising sign will determine how you interact with people and show yourself in social situations. It might also be how acquaintances will describe your character.

            Describing the interplay between your moon and rising sign, Pia says the latter is “how you enter the world”.

            “Imagine someone with a Pisces moon. They’re very sensitive and shy but they’ve got a Sagittarius rising,”

            “Nobody wold guess [that they’re shy] because they come across as very bold and self-confident with lots of bravado, but it’s not who they are.”
        </h3>
    </p>
</body>
<br />
<br />

    <h2 style=" color: #d099e2;
        font-size: 4.0rem;
        font-family:'Lucida Calligraphy';
         text-align:left;
        font-weight: bold;
        padding-left:10px;" >
        Calculate your Three Sign<br /><a href="https://astro.cafeastrology.com/natal.php" style="padding-left:80PX;"><u>following this link</u></a>🛐
    </h2>
 
