@{ 
    ViewData["Title"] = "TarotcardBasic";
}<header>
<h1 style="color:mediumslateblue">Learn about <a  href="https://www.youtube.com/watch?v=JdCp9sBnrVg" style="color:hotpink"><u>Tarot Cards for Self Discovery❤</u></a></h1>
</header>
<body style="        background-color:lightblue;
        font-family: 'Merriweather', serif;
    ">
    <p style=" font-size: 2.0rem;
        
">
        <h2 style="font-family: 'Sacramento', cursive">About The Tarot Card Meanings</h2><h3>
        The Tarot is a deck of 78 cards, each with its own imagery, symbolism and story.<br />

       <p> The 22 Major Arcana cards represent life's karmic and spiritual lessons. They represent a path to spiritual self-awareness and depict the various stages we encounter as we search for greater meaning and understanding. In this way, the Major Arcana cards hold deeply meaningful lessons on a soul level.

       
       
        </p><br/>Tarot is the storybook of our life, the mirror to our soul, and the key to our inner wisdom.

      </p> </h3><footer><h3><p><br/> Every spiritual lesson we meet in our lives can be found in the seventy-eight Tarot cards. And when we consult the Tarot, we’ll get shown the exact lessons we need to learn and master to live an inspired life. It’s like holding up a mirror to yourself so that you can access your subconscious mind and tap into the wisdom (and answers) that lives in us all.
    </p> </h3></footer> </p>
</body>